@page "/Administracion/Areas/Agregar/{id}"
@model Hermes2018.Areas.Identity.Pages.Administracion.Areas.AgregarModel

@section styles
    {
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap4-toggle/css/bootstrap4-toggle.min.css">
    <link type="text/css" rel="stylesheet" href="~/lib/jquery-bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/Areas/Identity/Pages/Administracion/Areas/Agregar.css" asp-append-version="true" />
}
@section ScriptsPrioritarios
    {
    <script type="text/javascript" src="~/lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
}

<div class="content-wrapper pt-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>
                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Administracion/Areas/Index" asp-route-id="">Áreas</a>
                            </li>
                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Administracion/Areas/Detectar" asp-route-id="">Detecta áreas</a>
                            </li>
                            <li class="breadcrumb-2-item active display-flex">
                                Agregar área
                            </li>
                        </ol>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <div class="float-right">

                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Agregar área</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form method="post" enctype="multipart/form-data" id="formConAdjunto">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger error-list-clean"></div>

                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-8">
                                    <div class="form-group">
                                        <label asp-for="Agregar.Nombre" class="col-form-label font-bold-12"></label>
                                        <div class="">
                                            <input asp-for="Agregar.Nombre" type="text" class="form-control form-control-sm" placeholder="Escriba el nombre del área" />
                                            <small class="form-text text-muted">El nombre del área debe ser como máximo de 100 caracteres.</small>
                                            <span asp-validation-for="Agregar.Nombre" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2 col-md-3 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label asp-for="Agregar.Clave" class="col-form-label font-bold-12"></label>
                                        <div class="">
                                            <input asp-for="Agregar.Clave" type="text" class="form-control form-control-sm" placeholder="" readonly />
                                            <span asp-validation-for="Agregar.Clave" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                                    <div class="form-group">
                                        <label asp-for="Agregar.Dias_Compromiso" class="col-form-label font-bold-12"></label>
                                        <div class="">
                                            <input asp-for="Agregar.Dias_Compromiso" type="text" value="" class="form-control form-control-sm text-center disabled" placeholder="" />
                                            <small class="form-text text-muted">Solo se toman en cuenta los días hábiles.</small>
                                            <span asp-validation-for="Agregar.Dias_Compromiso" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                    <div class="form-group">
                                        <label asp-for="Agregar.Direccion" class="col-form-label font-bold-12"></label>
                                        <div class="input-group">
                                            <textarea asp-for="Agregar.Direccion" class="form-control" placeholder="Dirección" rows="4"></textarea>
                                        </div>
                                        <small class="form-text text-muted">La dirección debe ser como máximo de 200 caracteres, y solo será utilizada como referencia para el registro de usuarios.</small>
                                        <span asp-validation-for="Agregar.Direccion" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="form-group">
                                        <label asp-for="Agregar.Telefono" class="col-form-label font-bold-12"></label>
                                        <div class="input-group date">
                                            <input asp-for="Agregar.Telefono" type="text" class="form-control form-control-sm" placeholder="" />
                                        </div>
                                        <small class="form-text text-muted">El teléfono solo será utilizado como referencia para el registro de usuarios.</small>
                                        <span asp-validation-for="Agregar.Telefono" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <label asp-for="Agregar.AgregarLogo" class="col-form-label font-bold-12"></label>
                                                <div class="input-group date">
                                                    <input asp-for="Agregar.AgregarLogo" type="checkbox" data-toggle="toggle" data-size="sm" data-on="Si" data-off="No" data-width="50" data-onstyle="secondary" data-offstyle="light" data-style="border" />
                                                </div>
                                                <span asp-validation-for="Agregar.AgregarLogo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 contiene-logo @string.Format("{0}", (Model.Agregar !=null)? Model.Agregar.AgregarLogo? "" :"d-none" :"d-none")">
                                            <div class="form-group">
                                                <label asp-for="Agregar.Logo" class="col-form-label font-bold-12"></label>
                                                <span class="indicador">*</span>
                                                <div class="">
                                                    <input asp-for="Agregar.Logo" type="file" class="form-control form-control-sm fileinput-button" />
                                                </div>
                                                <small class="form-text text-muted">Seleccione una imagen: .jpg, .jpeg, .png</small>
                                                <span asp-validation-for="Agregar.Logo" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                    <div class="form-group">
                                        <label asp-for="Agregar.Visible" class="col-form-label font-bold-12"></label>
                                        <div class="input-group date">
                                            <input asp-for="Agregar.Visible" type="checkbox" checked data-toggle="toggle" data-size="sm" data-on="Si" data-off="No" data-width="50" data-onstyle="secondary" data-offstyle="light" data-style="border" />
                                        </div>
                                        <span asp-validation-for="Agregar.Visible" class="text-danger"></span>
                                    </div>
                                    <input asp-for="Agregar.RegionId" class="sin-indicador"/>
                                    <input asp-for="Agregar.Area_PadreId" class="sin-indicador" />
                                </div>

                                @*<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 contiene-area-padre">
                                    <div class="form-group">
                                        <label asp-for="Agregar.RegionId" class="col-form-label font-bold-12"></label>
                                        <div class="input-group date">
                                            <select asp-items="Model.Regiones" asp-for="Agregar.RegionId" class="form-control form-control-sm">
                                                <option value="">[Seleccione una región]</option>
                                            </select>
                                        </div>
                                        <span asp-validation-for="Agregar.RegionId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 contiene-area-padre">
                                    <div class="form-group">
                                        <label asp-for="Agregar.Area_PadreId" class="col-form-label font-bold-12"></label>
                                        <div class="input-group">
                                            <select asp-items="Model.Areas" asp-for="Agregar.Area_PadreId" class="form-control form-control-sm">
                                                <option selected value="">[Seleccione un área]</option>
                                            </select>
                                        </div>
                                        <span asp-validation-for="Agregar.Area_PadreId" class="text-danger"></span>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="pt-2">
                                <a asp-area="Identity" asp-page="/Administracion/Areas/Detectar" class="btn btn-light">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/Areas/Identity/Pages/Administracion/Areas/Agregar.js" asp-append-version="true"></script>
}
