#contiene-cargador {
    display: block;
}

.sin-leer {
    font-weight: bold;
}

#btn-x-search {
    margin-left: -25px;
    z-index: 100;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
}
/*---------------*/
.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

input.form-control-sm,
input.form-control-sm::-webkit-input-placeholder {
    font-size: 0.875rem !important;
    -webkit-user-select: text;
    height: 25pX;
}

.sin-margen {
    margin: 0;
}

.con-padding-rl-6 {
    padding: 0px 8px;
}
.con-padding-l-14 {
    padding-left: 14px;
}
.con-padding-l-22 {
    padding-left: 22px;
}
.con-padding-l-30 {
    padding-left: 30px;
}
.con-padding-l-38 {
    padding-left: 38px;
}
#contiene-carpetas {
    margin: 0 0 0 0 !important;
    padding: 0;
    height: auto;
    max-height: 500px;
    width: 185px;
    border: 1px solid #ddd;
    overflow-y: scroll;
}

    #contiene-carpetas button,
    #contiene-carpetas div{
        font-size: 0.9rem !important;
    }
