@page "/Calendarios/Contenido/Crear/{id:int}"
@model CrearModel

@section Styles
    {
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/Areas/Identity/Pages/Calendarios/Contenido/Crear.min.css" asp-append-version="true" />
}

@section ScriptsPrioritarios
    {
    <script type="text/javascript" src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-daterangepicker/daterangepicker.min.js"></script>
}

<div class="content-wrapper ml-0 bg-white pt-0">
    <div class="container-fluid" id="logged-in">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>

                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Calendarios/Index">Calendarios</a>
                            </li>
                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Calendarios/Detalles" asp-route-id="@Model.InfoCalendario.CalendarioId">Detalle calendario</a>
                            </li>
                            <li class="breadcrumb-2-item active display-flex" aria-current="page">Nueva fecha</li>
                        </ol>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Agregar nueva fecha</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form method="post" autocomplete="off">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger error-list-clean"></div>

                            <input asp-for="InfoCalendario.CalendarioId" class="sin-indicador" />
                            <input asp-for="InfoCalendario.Titulo" class="sin-indicador" />
                            <input asp-for="InfoCalendario.Anio" class="sin-indicador" />

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                    <div class="form-group">
                                        <div>
                                            <span class="badge badge-dark">@Model.InfoCalendario.Anio</span><br />
                                            <span class="font-bold-11">Calendario: </span>@Model.InfoCalendario.Titulo
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                    <div class="form-group pt-2">
                                        <label asp-for="Crear.Fecha" class="col-form-label font-bold-12"></label>
                                        <div class="">
                                            <input asp-for="Crear.Fecha" class="form-control form-control-sm" placeholder="Seleccione la(s) fecha(s)" readonly="readonly" />
                                            <span asp-validation-for="Crear.Fecha" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="pt-2">
                                <a asp-area="Identity" asp-page="/Calendarios/Detalles" asp-route-id="@Model.InfoCalendario.CalendarioId" class="btn btn-light">Cancelar</a>
                                <button type="submit" class="btn btn-primary" title="Guardar la información">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/Areas/Identity/Pages/Calendarios/Contenido/Crear.min.js" asp-append-version="true"></script>
}
