.detalle_de_usuario #btn-search-envelope {
	max-width: 350px;
}

.detalle_de_usuario table {
	font-size: 9pt;
}

.detalle_de_usuario .tools-user a span {
	padding: 0;
}

.detalle_de_usuario .cont_user {
	float: right;
	padding-right: 0;
}

	.detalle_de_usuario .cont_user .resultado {
		padding-right: 0;
	}

.detalle_de_usuario #generateUserPdf {
	padding-left: 5px;
}
/*Pagína registro*/
#centrado-vertical {
	height: 100vh;
}

.card {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0px;
}

.easy-autocomplete {
	width: 100% !important;
}

	.easy-autocomplete.userActive input {
		border-color: none;
		border-radius: 0;
		border-style: none;
		border-width: 0;
		box-shadow: none;
		color: #000;
	}
/*Carpetas*/
#collapseCarpetas .link-new-folder .nav-link {
	padding-left: 2em !important;
	font-size: 14px !important;
}

#collapseCarpetas #content-items-folder {
	padding: 0;
}
/*Carpetas*/
.listas-de-usuario {
	text-align: left;
}

/**Constancias*/
#collapseConstancias .link-new-folder .nav-link {
	padding-left: 2em !important;
	font-size: 14px !important
}
#collapseConstancias #content-items-folder{
	padding: 0;
}