@page "/Administracion/Constancias/Usuarios"
@model Hermes2018.Areas.Identity.Pages.Administracion.Constancias.CatalogoUsuariosModel
@section styles
    {
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap4-toggle/css/bootstrap4-toggle.min.css">
    <link type="text/css" rel="stylesheet" href="~/lib/jquery-bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <link type="text/css" rel="stylesheet" href="~/lib/max-favilli-tagmanager/tagmanager.css" />
}
@section ScriptsPrioritarios
    {
    <script type="text/javascript" src="~/lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
}


<div class="content-wrapper ml-0 bg-white pt-0">
    <div class="container-fluid" id="logged-in">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>
                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Administracion/Constancias/Index">Constancias</a>
                            </li>
                            <li class="breadcrumb-2-item active display-flex" aria-current="page">Usuarios</li>
                        </ol>
                    </div>
                    <div class="col-4 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <div class="float-right">
                            <a asp-area="Identity" asp-page="/Administracion/Constancias/Usuario/Crear" class="btn btn-sm md-btn-raised md-btn-ripple bg-primary">Nuevo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr class="hr-thick mb-1 mt-1" />
                <span class="h5">Catálogo de Usuarios</span>
            </div>
            <div class="col-12">
                <br />
            </div>
            <div class="col-12">
                <div class="table-responsive alto-minimo-bandejas" id="contiene-tabla">
                    <table class="table table-hover table-sm mb-0" id="tabla-usuarios">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">Nombre usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Región</th>
                                <th scope="col">Rol</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a asp-area="Identity" asp-page="/Administracion/Constancias/Usuario/Editar" class="pl-2 pr-2" title="Editar"><i class="far fa-edit font-gray"></i></a>
                                    <a asp-area="Identity" asp-page="/Administracion/Constancias/Usuario/Detalle" class="pl-2 pr-2" title="Detalles"><i class="fab fa-wpforms font-gray"></i></a>
                                    <a asp-area="Identity" asp-page="/Administracion/Constancias/Usuario/Eliminar" class="pl-2 pr-2" title="Borrar"><i class="far fa-trash-alt font-gray"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>