@page "/Administracion/Constancias/EditarRelacion"
@model Hermes2018.Areas.Identity.Pages.Administracion.Constancias.EditarRelacionModel
@section styles
    {
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap4-toggle/css/bootstrap4-toggle.min.css">
    <link type="text/css" rel="stylesheet" href="~/lib/jquery-bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/Areas/Identity/Pages/Administracion/Areas/Agregar.css" asp-append-version="true" />
}
@section ScriptsPrioritarios
    {
    <script type="text/javascript" src="~/lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
}

<div class="content-wrapper ml-0 bg-white pt-0">
    <div class="container-fluid" id="logged-in">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>
                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Administracion/Constancias/Index">Constancias</a>
                            </li>
                            <li class="breadcrumb-2-item active display-flex" aria-current="page">Editar Relación de Constancias</li>
                        </ol>
                    </div>
                    <div class="col-12 col-sm-2 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <div class="float-right">
                            <a class="btn btn-sm md-btn-raised md-btn-ripple bg-primary">Aceptar</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Editar Relación</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form method="post" enctype="multipart/form-data" id="formEditRelacion">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger error-list-clean"></div>
                            <div>
                                <input class="sin-indicador" />
                                <input class="sin-indicador" />
                                <input class="sin-indicador" />
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                    <div class="form-group">
                                        <label class="col-form-label font-bold-12">Clave: </label>
                                        <div class="">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="form-group">
                                        <label class="col-form-label font-bold-12">Constancia: </label>
                                        <div class="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label font-bold-12"></label>
                                        <div class="">
                                            <input type="text" class="form-control form-control-sm" placeholder="Escriba el nombre del usuario" />
                                            <small class="form-text text-muted"></small>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                    <div class="form-group">
                                        <label class="col-form-label font-bold-12"></label>
                                        <div class="">
                                            <input type="text" class="form-control form-control-sm" placeholder="Escriba la clave de la constancia" />
                                            <small class="form-text text-muted"></small>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                    <div class="form-group">
                                        <label class="col-form-label font-bold-12"></label>
                                        <div class="">
                                            <input type="number" class="form-control form-control-sm" placeholder="Número de días " />
                                            <small class="form-text text-muted"></small>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 pt-5">
                                    <label class="col-form-label font-bold-12" for="customSwitches">Portal</label>
                                    <input type="checkbox" class="form-control form-control-sm form-group custom-control custom-switch " checked data-toggle="toggle" id="customSwitches">
                                </div>
                                <div class="col-12"> <br /></div>
                                <div class="col-12">
                                    <div class="table-responsive alto-minimo-bandejas">
                                        <table class="table table-hover table-sm mb-0">
                                            <thead class="bg-light">
                                                <tr>
                                                    <th colspan="2" class="text-center" scope="col">Tipo de personal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Funcionario</td>
                                                    <td><input type="checkbox" /></td>
                                                </tr>
                                                <tr>
                                                    <td>ATM (Administrativo, Técnico y Manual)</td>
                                                    <td><input type="checkbox" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Confianza</td>
                                                    <td><input type="checkbox" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Académico</td>
                                                    <td><input type="checkbox" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Eventual</td>
                                                    <td><input type="checkbox" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 