@page "/Usuarios/Reasignar"
@model Hermes2018.Areas.Identity.Pages.Usuarios.ReasignarModel

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/lib/jquery-flexdatalist/jquery.flexdatalist.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap4-toggle/css/bootstrap4-toggle.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/Areas/Identity/Pages/Usuarios/Reasignar.min.css" asp-append-version="true" />
}

@section ScriptsPrioritarios
{
    <script type="text/javascript" src="~/lib/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
}

<div class="@string.Format("{0}", (ConstRol.RolUsuario.Contains(Model.Reasignar.InfoUsuarioClaims.Rol))? "content-wrapper": "content-wrapper ml-0 bg-white pt-0")">
    <div class="container-fluid" id="@string.Format("{0}", (ConstRol.RolUsuario.Contains(Model.Reasignar.InfoUsuarioClaims.Rol))? string.Empty:"logged-in" )">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>

                            <li class="breadcrumb-2-item"><a asp-area="Identity" asp-page="/Usuarios/Index">Usuarios</a></li>
                            <li class="breadcrumb-2-item active" aria-current="page">Reasignar Usuario</li>
                        </ol>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Reasignar usuario</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger error-list-clean"></div>

                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group" id="control-busqueda">
                                <label asp-for="Reasignar.NombreUsuario" class="col-form-label font-bold-12"></label>
                                <div>
                                    <input asp-for="Reasignar.NombreUsuario" class="form-control" placeholder="Buscar" value="" />
                                    <small class="form-text text-muted">Escriba el nombre de usuario.</small>
                                    <span asp-validation-for="Reasignar.NombreUsuario" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="Reasignar.Nombre" class="col-form-label font-bold-12"></label>
                                <div>
                                    <input asp-for="Reasignar.Nombre" class="form-control disabled border-light" placeholder="" value="" />
                                    <small class="form-text text-muted">Nombre completo del usuario.</small>
                                    <span asp-validation-for="Reasignar.Nombre" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="Reasignar.Correo" class="col-form-label font-bold-12"></label>
                                <div>
                                    <input asp-for="Reasignar.Correo" class="form-control disabled border-light" placeholder="" value="" />
                                    <small class="form-text text-muted">Correo institucional.</small>
                                    <span asp-validation-for="Reasignar.Correo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="Reasignar.Rol" class="col-form-label font-bold-12"></label>
                                <div>
                                    <select asp-items="Model.Reasignar.Roles" asp-for="Reasignar.Rol" class="form-control">
                                        <option selected value="">[Seleccione un rol]</option>
                                    </select>
                                    <span asp-validation-for="Reasignar.Rol" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        @if (Model.Reasignar.TipoVista == ConstTipoHttp.ConstTipoVistaHttpN1)
                        {
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div id="contiene-region" class="form-group">
                                    <label asp-for="Reasignar.RegionId" class="col-form-label font-bold-12"></label>
                                    <div>
                                        <select asp-items="Model.Reasignar.Regiones" asp-for="Reasignar.RegionId" class="form-control">
                                            <option selected value="">[Seleccione una región]</option>
                                        </select>
                                        <small class="form-text text-muted">La región es obligatoria.</small>
                                        <span asp-validation-for="Reasignar.RegionId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div id="contiene-area" class="form-group">
                                    <label asp-for="Reasignar.AreaId" class="col-form-label font-bold-12"></label>
                                    <div>
                                        <select asp-for="Reasignar.AreaId" class="form-control">
                                            <option selected value="">[Seleccione un área]</option>
                                        </select>
                                        <small class="form-text text-muted">Seleccione primero la región.</small>
                                        <span asp-validation-for="Reasignar.AreaId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Reasignar.Puesto" class="col-form-label font-bold-12"></label>
                                    <div>
                                        <input asp-for="Reasignar.Puesto" class="form-control" placeholder="Nombre del puesto" value="" />
                                        <span asp-validation-for="Reasignar.Puesto" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Reasignar.EsUnico" class="col-form-label font-bold-12"></label>
                                    <div>
                                        <input asp-for="Reasignar.EsUnico" type="checkbox" data-toggle="toggle" data-size="sm" data-on="Si" data-off="No" data-width="50" data-onstyle="secondary" data-offstyle="light" data-style="border" class="form-control mh-100 w-25 form-control-sm" />
                                        <small class="form-text text-muted">Determina si el puesto es único en el área.</small>
                                        <span asp-validation-for="Reasignar.EsUnico" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div id="contiene-es-titular" class="form-check pt-2 pl-0 pb-2">
                                            <label asp-for="Reasignar.EsTitular" class="form-check-label"></label>
                                            <div>
                                                <input asp-for="Reasignar.EsTitular" type="checkbox" data-toggle="toggle" data-size="sm" data-on="Si" data-off="No" data-width="50" data-onstyle="secondary" data-offstyle="light" data-style="border" class="form-control mh-100 w-25 form-control-sm" />
                                                <span asp-validation-for="Reasignar.EsTitular" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div id="contiene-titular" class="form-group d-none">
                                            <label asp-for="Reasignar.Titular" class="col-form-label font-bold-12"></label>
                                            <div>
                                                <input asp-for="Reasignar.Titular" class="form-control" placeholder="Buscar" value="" />
                                                <small class="form-text text-muted">Escriba el nombre de usuario.</small>
                                                <span asp-validation-for="Reasignar.Titular" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.Reasignar.TipoVista == ConstTipoHttp.ConstTipoVistaHttpN2)
                        {
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div id="contiene-region" class="form-group">
                                    <label asp-for="Reasignar.RegionId" class="col-form-label font-bold-12"></label>
                                    <div>
                                        <select asp-items="Model.Reasignar.Regiones" asp-for="Reasignar.RegionId" class="form-control">
                                            <option value="">[Seleccione una región]</option>
                                        </select>
                                        <small class="form-text text-muted">La región es obligatoria.</small>
                                        <span asp-validation-for="Reasignar.RegionId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div id="contiene-area" class="form-group">
                                    <label asp-for="Reasignar.AreaId" class="col-form-label font-bold-12"></label>
                                    <div>
                                        <select asp-items="Model.Reasignar.Areas" asp-for="Reasignar.AreaId" class="form-control">
                                            <option value="">[Seleccione un área]</option>
                                        </select>
                                        <small class="form-text text-muted">Seleccione primero la región.</small>
                                        <span asp-validation-for="Reasignar.AreaId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Reasignar.Puesto" class="col-form-label font-bold-12"></label>
                                    <div>
                                        <input asp-for="Reasignar.Puesto" class="form-control disabled border-light" placeholder="" value="" />
                                        <small class="form-text text-muted">Puesto del usuario.</small>
                                        <span asp-validation-for="Reasignar.Puesto" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Reasignar.EsUnico" class="col-form-label font-bold-12"></label>
                                    <div>
                                        <input asp-for="Reasignar.EsUnico" type="checkbox" data-toggle="toggle" data-size="sm" data-on="Si" data-off="No" data-width="50" data-onstyle="secondary" data-offstyle="light" data-style="border" class="form-control mh-100 w-25 form-control-sm" />
                                        <span asp-validation-for="Reasignar.EsUnico" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div id="contiene-es-titular" class="form-check pt-3">
                                            <label asp-for="Reasignar.EsTitular" class="form-check-label"></label>
                                            <div>
                                                <input asp-for="Reasignar.EsTitular" type="checkbox" data-toggle="toggle" data-size="sm" data-on="Si" data-off="No" data-width="50" data-onstyle="secondary" data-offstyle="light" data-style="border" class="form-control mh-100 w-25 form-control-sm" />
                                                <span asp-validation-for="Reasignar.EsTitular" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    @if (Model.Reasignar.EsTitular)
                                    {
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                            <div id="contiene-titular" class="form-group d-none">
                                                <label asp-for="Reasignar.Titular" class="col-form-label font-bold-12"></label>
                                                <div>
                                                    <input asp-for="Reasignar.Titular" class="form-control" placeholder="Buscar" value="" />
                                                    <small class="form-text text-muted">Escriba el nombre de usuario.</small>
                                                    <span asp-validation-for="Reasignar.Titular" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                            <div id="contiene-titular" class="form-group">
                                                <label asp-for="Reasignar.Titular" class="col-form-label font-bold-12"></label>
                                                <div>
                                                    <input asp-for="Reasignar.Titular" class="form-control" placeholder="Buscar" value="" />
                                                    <small class="form-text text-muted">Escriba el nombre de usuario.</small>
                                                    <span asp-validation-for="Reasignar.Titular" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label asp-for="Reasignar.Permiso" class="col-form-label pb-0"></label>
                                <div class="input-group date">
                                    <input asp-for="Reasignar.Permiso" type="checkbox" data-toggle="toggle" data-size="sm" data-on="Si" data-off="No" data-width="50" data-onstyle="secondary" data-offstyle="light" data-style="border" />
                                </div>
                                <span asp-validation-for="Reasignar.Permiso" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="Reasignar.Direccion" class="col-form-label font-bold-12"></label>
                                        <div>
                                            <textarea asp-for="Reasignar.Direccion" class="form-control" placeholder="Dirección" rows="4"></textarea>
                                            <small class="form-text text-muted">La dirección debe ser como máximo de 200 caracteres.</small>
                                            <span asp-validation-for="Reasignar.Direccion" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="Reasignar.Telefono" class="col-form-label font-bold-12"></label>
                                        <div>
                                            <input asp-for="Reasignar.Telefono" class="form-control" placeholder="Teléfono y/o extensión" />
                                            <span asp-validation-for="Reasignar.Telefono" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-2">
                        <div>
                            <a asp-area="Identity" asp-page="/Usuarios/Index" class="btn btn-light">Cancelar</a>
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/jquery-flexdatalist/jquery.flexdatalist.min.js"></script>
    <script type="text/javascript" src="~/js/Areas/Identity/Pages/Usuarios/Reasignar.min.js" asp-append-version="true"></script>
}