@page "/Bandejas/Recibidos"
@model RecibidosModel

@section Styles
    {
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/linear-activity.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/Areas/Identity/Pages/Bandejas/Recibidos.min.css" asp-append-version="true" />
}

@section ScriptsPrioritarios
    {
    <script type="text/javascript" src="~/lib/jspdf/jspdf.min.js"></script>
    <script type="text/javascript" src="~/lib/jspdf-autotable/jspdf.plugin.autotable.min.js"></script>

    <script type="text/javascript" src="~/lib/xlsx/xlsx.full.min.js"></script>
    <script type="text/javascript" src="~/lib/file-saver/FileSaver.min.js"></script>
    <script type="text/javascript" src="~/lib/jhxlsx/jhxlsx.js"></script>

    <script type="text/javascript" src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="~/lib/twbs-pagination/jquery.twbsPagination.min.js"></script>
}

<div class="content-wrapper pt-0">
    <div class="container-fluid">
        <div class="row">
            <input asp-for="InfoDelegar.EstaActiva" class="sin-indicador" />
            <input asp-for="InfoDelegar.TipoPermiso" class="sin-indicador" />
            <div class="col-12 mb-1">
                <vc:menu-delegar user="@User" leyenda="Documentos de:"></vc:menu-delegar>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6">

                        <div class="dropdown pt-0 pb-0 pl-1 d-inline-block">
                            <a id="filtrarDropdown" href="#" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="categoriaCollapse,fechaCollapse1,estadoCollapse,tipoCollapse">
                                Filtrar <i class="fas fa-caret-down"></i>
                            </a>
                        </div>
                        <div class="pt-0 pb-0 pl-xl-0 pl-sm-2 pl-md-2 pl-lg-2 d-inline-block">
                            <a class="pl-2" id="exportarDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Exportar <i class="fas fa-caret-down"></i>
                            </a>
                            <!-- Dropdown Exportar -->
                            <div class="dropdown-menu dropdown-menu-left m-0 p-0" aria-labelledby="exportarDropdown">
                                <h6 class="dropdown-header">¿A qué desea exportar?</h6>
                                <div class="dropdown-divider sin-margen"></div>
                                <button type="button" class="dropdown-item hover-bold btn btn-link" id="exportar-pdf">
                                    <div>PDF</div>
                                    <span class="small float-right text-muted"></span>
                                    <div class="dropdown-message small"></div>
                                </button>
                                <div class="dropdown-divider sin-margen"></div>
                                <button type="button" class="dropdown-item hover-bold btn btn-link" id="exportar-excel">
                                    <div>Excel</div>
                                    <span class="small float-right text-muted"></span>
                                    <div class="dropdown-message small"></div>
                                </button>
                            </div>
                        </div>
                        @if (!Model.InfoDelegar.EstaActiva || (Model.InfoDelegar.EstaActiva && Model.InfoDelegar.TipoPermiso == ConstDelegar.TipoN1))
                        {
                            <div class="pt-0 pb-0 pl-xl-0 pl-sm-3 pl-md-3 pl-lg-3 d-inline-block">
                                <a class="pl-2 disabled" id="carpetasDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-folder-open"></i> Mover
                                </a>
                                <div id="contiene-carpetas" class="dropdown-menu dropdown-menu-left" aria-labelledby="carpetasDropdown">
                                    <!-- Carpetas -->
                                </div>
                            </div>
                        }
                        <div class="pt-0 pb-0 pl-xl-0 pl-sm-6 pl-md-6 pl-lg-6 pl-xl-6 d-inline-block">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6">
                                    <select id="select-proximo-vencer" class="form-control form-control-sm">
                                        <option value="0">[Todos los documentos]</option>
                                        <option value="1">Próximos a vencer</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6">
                                    <select id="select-tramites" class="form-control form-control-sm">
                                        <option value="">[Todos los trámites]</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-">
                        <div class="row">
                            <div class="col-sm-9 col-md-9 col-xs-12 col-xl-9">
                                <div class="input-group">
                                    <input class="form-control form-control-sm pr-4" id="searchbox" type="search" name="busqueda" placeholder="Buscar..." maxlength="100">
                                    <span id="btn-x-search" class="btn bg-transparent d-none">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-xs-12 col-xl-3">
                                <div class="input-group pt-1 pb-0 pl-1 d-inline-block">
                                    <input type="checkbox" class="form-check-input sin-indicador" id="inCarpetas" asp-for="enCarpeta">
                                    <label class="form-check-label" for="inCarpetas"><small>Buscar en carpetas</small></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1 pt-1">
                    <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3">
                        <div class="collapse multi-collapse" id="categoriaCollapse">
                            <div class="form-group">
                                <select id="select-categorias" class="form-control form-control-sm"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3">
                        <div class="collapse multi-collapse" id="fechaCollapse1">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" name="datepicker1" value="" placeholder="[Rango de fechas]" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3">
                        <div class="collapse multi-collapse" id="tipoCollapse">
                            <div class="form-group">
                                <select id="select-tipo" class="form-control form-control-sm"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3">
                        <div class="collapse multi-collapse" id="estadoCollapse">
                            <div class="form-group">
                                <select id="select-estado" class="form-control form-control-sm"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="contiene-cargador" class="">
                    <div class="linear-activity loader d-none">
                        <div class="indeterminate"></div>
                    </div>
                </div>
                <div class="table-responsive alto-minimo-bandejas" id="contiene-tabla">
                    <table class="table table-hover table-sm mb-0" id="Recibidos">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col"><input type="checkbox" id="checkbox_all" value="0"></th>
                                <th scope="col" id="folio" width="110px">Folio</th>
                                <th scope="col" id="remitente">Remitente</th>
                                <th scope="col" id="tituo">Asunto</th>
                                <th scope="col" id="noDocum" width="150px">No. Interno</th>
                                <th scope="col" id="fecha" width="170px">Recepción</th>
                                <th scope="col" id="compromiso" width="110px">Compromiso</th>
                                <th scope="col" id="carpetas"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-right" id="contenedor-paginacion">
                    <ul id="paginacion-recibidos" class="pagination-sm"></ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ml-1 mt-0">
                    <span class="pr-3">
                        <i class="fas fa-circle font-yellow"></i> En proceso
                    </span>
                    <span class="pr-3">
                        <i class="fas fa-circle font-green"></i> Atendido
                    </span>
                    <span class="pr-3">
                        <i class="fas fa-circle font-red"></i> Vencido
                    </span>
                    <span class="pr-3">
                        <i class="fas fa-circle font-orange"></i> Extemporáneo
                    </span>
                    <span class="pr-3">
                        <i class="fas fa-circle font-gray"></i> No requiere respuesta
                    </span>
                </div>
                <div class="ml-1 mt-0">
                    <span class="pr-3">
                        <i class="fas fa-long-arrow-alt-left font-gray"></i> Envio
                    </span>
                    <span class="pr-3">
                        <i class="fas fa-redo-alt font-gray"></i> Turnado
                    </span>
                    <span class="pr-3">
                        <i class="fab fa-stack-exchange font-gray"></i> Respuesta parcial
                    </span>
                    <span class="pr-3">
                        <i class="fas fa-exchange-alt font-gray"></i> Respuesta
                    </span>
                    <span class="pr-3">
                        <i class="fas fa-hourglass-half font-gray"></i> Próximo a vencer
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript" src="~/js/Areas/Identity/Pages/Bandejas/Recibidos.min.js" asp-append-version="true"></script>
}