@page "/Plantillas/Borrar/{id:int}"
@model BorrarModel

<div class="content-wrapper pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>

                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Plantillas/Index">Plantillas</a>
                            </li>
                            <li class="breadcrumb-2-item active display-flex" aria-current="page">Borrar plantilla</li>
                        </ol>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Borrar plantilla</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger error-list-clean"></div>

                            <dl class="">
                                <dt class="">Nombre</dt>
                                <dd class="">
                                    @Html.DisplayFor(x => x.InfoPlantilla.HER_Nombre)
                                </dd>
                            </dl>
                            <input asp-for="InfoPlantilla.HER_PlantillaId" class="sin-indicador" />

                            <div>
                                <p>¿Desea borrar esta plantilla?</p>
                            </div>
                            <div>
                                <a asp-area="Identity" asp-page="/Plantillas/Index" class="btn btn-light" title="Regresar">Cancelar</a>
                                <button type="submit" class="btn btn-danger" title="Borrar el calendario definitivamente">Borrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>