@page "/Plantillas/Crear"
@model CrearModel

@section styles
    {
    <link type="text/css" rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/froala_editor.pkgd.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/froala_style.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/plugins/image.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/froala-editor/css/themes/gray.min.css" />
}

@section ScriptsPrioritarios
    {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="~/lib/froala-editor/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="~/lib/froala-editor/js/languages/es.js"></script>
    <script type="text/javascript" src="~/lib/froala-editor/js/plugins/image.min.js"></script>
}

<div class="content-wrapper pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-2">
                        <ol class="breadcrumb-2 mt-0 mb-0 pb-1 pt-1 display-inline">
                            <li class="breadcrumb-2-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Inicio</a>
                            </li>

                            <li class="breadcrumb-2-item">
                                <a asp-area="Identity" asp-page="/Plantillas/Index">Plantillas</a>
                            </li>
                            <li class="breadcrumb-2-item active display-flex" aria-current="page">Crear plantilla</li>
                        </ol>
                    </div>
                    <div class="col-12">
                        <hr class="hr-thick mb-1 mt-1" />
                        <h5>Crear plantilla</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <form method="post">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger error-list-clean"></div>

                            <div class="form-group">
                                <label asp-for="Crear.Nombre" class="col-form-label font-bold-12"></label>
                                <div class="">
                                    <input asp-for="Crear.Nombre" class="form-control form-control-sm" placeholder="Plantilla" />
                                    <span asp-validation-for="Crear.Nombre" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
                            <div class="form-group d-none" id="contiene-editor">
                                <label asp-for="Crear.Texto" class="col-form-label font-bold-12"></label>
                                <div class="">
                                    <textarea asp-for="Crear.Texto" class="form-control form-control-sm"></textarea>
                                    <span asp-validation-for="Crear.Texto" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pt-3">
                                <a asp-area="Identity" asp-page="/Plantillas/Index" class="btn btn-light">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/Areas/Identity/Pages/Plantillas/Crear.min.js" asp-append-version="true"></script>
}
